
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-family: 'Fjalla One', sans-serif;
    font-style: bold;
    
    

}
body{
    background: rgb(52,43,191);
    background-size: cover;
    background-repeat: repeat;
    background: rgb(52,43,191);
    background: #F0F2F0;  
    background: -webkit-linear-gradient(to right, #001a8d, #F0F2F0); 
    background: linear-gradient(to right, #001a8d, #F0F2F0);
    
}
header {
    background: -webkit-linear-gradient(to right, #001a8d, #F0F2F0); 
    background: linear-gradient(to right, #001a8d, #F0F2F0);
    display:flex;
    position: sticky;
    top:0;
    justify-content: space-between;
    height: 100px;
    box-shadow:3px 3px 3px rgb(255, 255, 255) ;
    align-items: center;
    
    
    
}
.navbar{ 
    gap:30px; 
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 30px;

}
.ulnav{
    display:flex;
    gap: 30px;
}

.navbar ul li{ 
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.logo{
    width: 200px;  
    height: 200px;
    cursor: pointer;
    margin-left: 30px;
    }
    
.navbar a {
        padding:10px;
        font-size: 20px;
        
    }
    .navbar label img, #checkbox{
        display: none;
    }
.navbar a:hover, .mediaquerihome a:hover {
    color: rgb(255, 255, 255);
    background-color: black;
    text-decoration:underline;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 25px;
    border: 2px rgb(255, 255, 255)solid;
    box-shadow: 7px 7px black;
    
}

.hero{
    display: flex;
    justify-content: space-around;
   
    
}
.descriptiontext{
    display: flex;
    width: 40%;
    flex-direction:column;
    align-content: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
   
}
.h2masimagen img{
    width: 200px;  
    height: 200px;
    cursor: pointer;
    
}
.h2masimagen{
    display: flex;
    align-items: center;
  justify-content: center;
  gap: 30px;
}

.h2masimagen h2{
    align-items: center;
    display: flex;
    font-size: 50px;
    gap: 50px

}

.descriptiontext p{
    font-size: 30px;
    font-weight: bold;
    }
.descriptiontext p img{
      height: 30px;
      width: 30px;
      margin: 5px;
      cursor: pointer;
        
   }
.imagemain{
    display: flex;
    justify-content: flex-end;
  

}
.imagemain img{
   border-radius: 10px;
   border: 5pX solid white;
   border-radius: 20px;

}
.buttonshero button:hover {
    background-color: red;
    gap: 50px;
}
.buttonshero button{
   margin-right: 30px;
    gap: 50px;
}
#projects{ 
    color: red;
    padding: 10px 30px;
    background-color: black;
    border: 2px solid white;
    border-radius: 30px ;
    font-size: 20px;
}
#projects a {
    color:white
}
#contact {
    padding: 10px 30px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px ;
    font-size: 20px;
    cursor: pointer;
    
}
.textocarrera{
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
}
#logotelefono, #logoinstagram, #logolinkedin, #logoubication, #logogit {
    width: 50px;
    height: 50px;
}
#logoemail{
    width: 60px;
    height: 50px;
    
}
.sectioncards{
    display: flex;
    flex-direction: column;
    padding-top:100px;
    width: 100%;
    gap: 50px;
}
.textcards{
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}
.textcards h3{
    font-size: 30px;
}
.textcards p{
    font-weight: 800;
    font-size: 20px;
    padding: 10px 100px;
}
.groupcards{
    display: flex;
    margin: 0 30px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    gap: 100px;
    padding-bottom: 100px;
    height: 80%;
}
.cards{
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(36, 36, 66, 0.1);
    width: 500px;
    height: 300px;
    gap: 30px;
    font-size: 20px;}
   
.cards img{
        width: 90px;
        height: 90px;
    }
.contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 40px;
        padding-bottom: 100px;
    }
.boxcontact{
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 400px ;
    }
.infocontact, .redsocial{
        border: 2px gray solid;
        border-radius: 1rem;
        padding:80px 120px;
        background-color: rgb(36, 36, 66, 0.1) ;
               
    }
.infocontact ul, .redsocial ul{
        gap: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
.boxcontact ul li{
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 30px;
        
    }
    .boxcontact ul li a:visited{
        color: rgb(109, 72, 211);
    }
footer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        font-weight: 500;
    }
footer img{
    width: 200px;
    height: 200px;
}
@media (max-width:1400px){
    .boxcontact{
        gap: 100px;
    }
.infocontact, .redsocial{
    zoom: 80%;
}
.groupcards{
    zoom: 70%;
}
}
@media (max-width:1080px){
    .groupcards{
        flex-wrap: wrap;
    }
    .boxcontact{
        flex-wrap:wrap ;
    }


}
@media (max-width:1080px){
    .imagemain img{
        width: 70%;
    }
    .hero{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .descriptiontext{
        width: 90%;

    }
    .imagemain{
        justify-content: center;
        align-items: center;
    
    }
    .buttonshero{
        align-items: center;
        justify-content: center
    }
    .infocontact, .redsocial{
       width: 60%;
       padding: 100px 50px;
       zoom: 100%;
    }
    .textocarrera, .textcards{
        padding: 0px 30px;
    }
}
@media (max-width:700px)
{
   header{
    margin: 0;
   }
    .hero{
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    .buttonshero button{
        margin: 0 20px;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content:space-between;
        width: 100%;
    
    }
    .ulnav{
       display: none;
       flex-direction: column;
       position: absolute;
       top:102px;
       justify-content: center;
       align-items: center;
       text-align: center;
       width: 70%;
       right: 15%;
       left: 15%;
       gap: 30px;
       border: 3px solid gray;
       border-radius:40px;
       padding: 30px;
       background-color: #383969;
    
    }
    .ulnav li a{
        color: aliceblue;
    }
    .navbar label img{
        display:flex;
        width: 50px;
        height: 50px;
        border: solid black 3px;
        padding: 10px;
        border-radius: 1rem;
        margin-right: 30px;
    }
   .contact h2 {
    padding: 0px 40px;
   }
#checkbox:checked + .ulnav{
        display:flex;
    }
    footer p {
        font-size: 15px;
    }
    .infocontact, .redsocial{
        zoom: 70%;
     }
    
}
@media (max-width:500px){

    .imagemain{
        justify-content: center; 
    }
.imagemain img{
    width: 70%;
    justify-content: center;
    align-items: center;

}
    .imagemain img{
        width: 40%;
    }
.h2masimagen h2 img{
    width: 100px;
    height: 100px;
}
.buttonshero{
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
}
.h2masimagen h2{
    font-size: 30px;
}
.descriptiontext p{
    font-size: 15px;
    align-items: center;
    justify-content: center;
}
.buttonshero button{
    margin: 0;
}
.hero{
    margin-top: 10px;
}
body{      
      background-position: absolute;}
   .textcards p {
    padding: 10px;
   }
   .infocontact, .redsocial{
    padding:20px 10px;
}
.infocontact ul, .redsocial ul {
    width: 100%;
}

 }
     